@{
    ViewData["Title"] = "MyStock";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao MyStock</h1>
    <p>Um sistema de gestão de estoque, pedidos, clientes e orçamentos.</p>     
</div>
